@font-face {
    font-family: "roboLight";
    src: url(../../public/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboBold";
    src: url(../../public/assets/fonts/Roboto-Bold.ttf);
}

$font1: roboLight, sans-serif;
$font2: roboBold, serif;

$tomato: hsl(4, 100%, 67%);
$dark_grey: hsl(234, 29%, 20%);
$charcoal_Grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}