@font-face {
    font-family: "roboLight";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboBold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

$font1: roboLight, sans-serif;
$font2: roboBold, serif;

$tomato: hsl(4, 100%, 67%);
$dark_grey: hsl(234, 29%, 20%);
$charcoal_Grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1445px;
    min-height: 100vh;
    background: $charcoal_Grey;
}

@mixin btn {
    width: 95%;
    margin-top: 5%;
    height: 40px;
    color: $white ;
    background: $dark_grey;
    text-align: center;
    border-radius: 5px;
    font-family: $font1;
    cursor: pointer;

    &:hover {
        background: $tomato;
        color: $white;
        border: none;
        box-shadow: $tomato 0px 18px 50px -10px;
    }

    &:active {
        transform: scale(.2);
    }
}